
<mat-dialog-content>
    <h4 class="p-3">change-password works!</h4>
   
   

  <form [formGroup]="changeForm" >
 
  <mat-form-field class="m-3">
    <mat-label>Old Passworde</mat-label>
    <input matInput formControlName="oldPassword" type="text" class=" " placeholder="Enter your Code" aria-label="Username" aria-describedby="basic-addon1">
  </mat-form-field>

  <mat-form-field class="m-3">
    <mat-label>new Password</mat-label>
    <input matInput formControlName="newPassword" type="text" class=" " placeholder="Enter your Code" aria-label="Username" aria-describedby="basic-addon1">
  </mat-form-field>

 <mat-form-field class="m-3">
    <mat-label>confirm New Password</mat-label>
    <input matInput formControlName="confirmNewPassword" type="text" class=" " placeholder="Enter your Code" aria-label="Username" aria-describedby="basic-addon1">
  </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="float-end">
  <button mat-button class="second text-white" (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="changeForm.value" class="main text-white" cdkFocusInitial>Ok</button>
</mat-dialog-actions>


        