<section class="mx-5">
    <div class="container">
        <div class="row header-home  my-5 py-5 ">
            <div class="col-12 py-5">
                <h2 class="text-white">Welcome <span>{{userName}}</span> </h2>
                <p>You can add project and assign tasks to your team</p>
            </div>
        </div>
    </div>
</section>
    <section class="container" *ngIf="userRole=='Manager'">
        <section class="row justify-content-around py-5">
        
     
<div id="chartsTask" class="bg-white col-md-5 shadow border 
border-success p-2" >
  <h2>Progress
</h2>
    <canvas id="canvas">{{chart}}</canvas>
  </div>

  <div id="chartsTask" class="bg-white col-md-5 shadow border border-success p-2">
    <h2>Users 
  </h2>
      <canvas id="canvasU">{{chart}}</canvas>
    </div>





    <!-- <div id="chartsTasU" class="w-50 m-auto bg-white">
        <h2>Tasks
      </h2>
          <canvas id="canvasT">{{chart}}</canvas>
        </div> -->




    </section>
</section>