<section>
  <div class="row shadow-sm align-items-center justify-content-between">
   <div class="col-6 ">
    <img src="../../../../assets/images/logosvg.svg" height="75px" width="30%"  alt="">
   </div>
    <div class="col-6">
      <div class="d-flex  justify-content-end align-items-center">
        <i class="fa-solid fa-bell fs-3 pe-2"></i>
        <img src="../../../../assets/images/testimonial-4.jpg" class="profileImage">
        <h6 class="mt-1 ps-3 pt-3">{{userName}}
          <br>  <p class="fw-light">{{userEmail}}</p>
        </h6>
    
      
       
        <button mat-icon-button [matMenuTriggerFor]="menu"
         aria-label="Example icon-button with a menu">
         <mat-icon><span class="material-symbols-outlined primary">
          expand_more</span></mat-icon>
       </button>
       <mat-menu #menu="matMenu">
         <button mat-menu-item (click)=openDialogChangePass()>
          <mat-icon><span class="material-symbols-outlined primary">lock_open</span></mat-icon>
          <span class="">
            Change Password
            </span>
        </button>
        <button mat-menu-item (click)="openDialogProfile()">
          <mat-icon><span class="material-symbols-outlined primary">
            account_box
            </span></mat-icon>
          <span class="">
            Profile
            </span>
        </button>
        <button mat-menu-item (click)="myLogout()">
          <mat-icon><span class="material-symbols-outlined primary">logout</span></mat-icon>
          <span class="" >Logout</span>
        </button>
       </mat-menu>
      




      
      </div>
    </div>
  </div>
</section>
