.profile{
    width: 800px !important;
   
}
.picture{
    width:150px;
    height: 150px;
    margin-bottom: 10px !important;
    margin: auto;
    border-radius: 50%;
  }
  .main{
    background-color: #EF9B28;
    color:white;
    border-radius:32px !important;
    border:#EF9B28;
    padding: 10px 10px;
}
.second{
    background-color:#009247;
    color:white;
    border-radius:32px !important;
    border:#EF9B28;
    padding: 10px 10px;
}