<section>
    <div class="title shadow-sm px-5 bg-header py-4 d-flex justify-content-between">
        <h3>Users</h3>
    </div>
</section>
<div class="usersTable mt-5 mx-5 rounded bg-white shadow">
    <div class="col-3  px-4 py-4">
        <div class="input-group mb-3">
          <input type="text" [(ngModel)]="searchKey" (keyup.enter)="getAllUsers()" class="form-control mt-2" placeholder="Search by name" aria-label="Username" aria-describedby="basic-addon1" >
         </div>
      </div>
<table class="table shadow p-3 mb-5 bg-body-tertiary rounded-3">
    <thead>
        <tr>
            <th class="col">UserName</th>
            <th class="col">Status</th>
            <th class="col">PhoneNumber</th>
            <th class="col">Email</th>
            <th class="col">Date created</th>
            <th class="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of Users">
            <td>{{item.userName}}</td>
            <td class="td-style">
                <span class="status" [class]="item.isActivated?'active':'notActive'">
                    {{item.isActivated?'Active':'Not Active'}}
                </span></td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.email}}</td>
            <td>{{item.creationDate |date:'MMM d, y, h:mm:ss a'}}</td>
            <td><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog(item)">
                    <i class="fa-solid fa-ban p-1"></i>
                  <span>{{item.isActivated?'Block':'unBlock'}}</span>
                </button>
                <button mat-menu-item (click)="openDialogView(item)">
                    <i class="fa-solid fa-eye p-1"></i>
                  <span>View</span>
                </button>
              </mat-menu></td>
        </tr>
    </tbody>

</table>
</div>
<mat-paginator [length]="length"
[pageSize]="pageSize"
[pageIndex]="pageIndex"
[pageSizeOptions]="pageSizeOptions"
(page)="handlePageEvent($event)"
aria-label="Select page">
</mat-paginator>
