<section>
    <div class="title shadow-sm px-5 p-3 mt-4">
        <h3>Users</h3>
    </div>
</section>
<div class="usersTable">
<table class="table mt-4 shadow p-3 mb-5 bg-body-tertiary rounded-3">
    <thead>
        <tr>
            <th class="col">UserName</th>
            <th class="col">Status</th>
            <th class="col">PhoneNumber</th>
            <th class="col">Email</th>
            <th class="col">Date created</th>
            <th class="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of Users">
            <td>{{item.userName}}</td>
            <td>{{item.isActivated}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.email}}</td>
            <td>{{item.creationDate |date:'MMM d, y, h:mm:ss a'}}</td>
            <td><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <i class="fa-solid fa-ban p-1"></i>
                  <span>Block</span>
                </button>
                <button mat-menu-item>
                    <i class="fa-solid fa-eye p-1"></i>
                  <span>View</span>
                </button>
              </mat-menu></td>
        </tr>
    </tbody>

</table>
</div>
<mat-paginator [length]="length"
[pageSize]="pageSize"
[pageIndex]="pageIndex"
[pageSizeOptions]="pageSizeOptions"
(page)="handlePageEvent($event)"
aria-label="Select page">
</mat-paginator>
