<section class="container ">
    <div class="row">
        <div class="col">
            <a (click)="onNoClick()" class="d-block text-end my-pointer">
                <i class="fa-regular fa-circle-xmark text-danger fa-2x"></i>
            </a>
            <div class="text-center">
                <img src="../../../../../../../../assets/images/profile.png" width="50%"  alt="">
            </div>
            <div class="text-end mt-4">
            <button class="main" (click)="onNoClick()">Close
            </button>
        </div>
      </div>
    </div>
    </section>
