<section class="container ">
    <a (click)="onNoClick()" class="d-block text-end my-pointer p-2">
        <i class="fa-regular fa-circle-xmark text-danger fa-2x"></i>
    </a>
    <div class="row ">
        <div class="col">
          
            <div class="text-center w-100 ">
                <div *ngIf="!data.imagePath"  class="is-img m-auto">
                    <img src="../../../../../../../../assets/images/profoilImg.jpg" width="50%"  alt="">
                </div>
          
           <div *ngIf="data.imagePath" class="is-img  m-auto">
               <img [src]="pathUskiImg+data.imagePath" class="w-100 " alt="" >
           </div>

                 <div class="d-flex flex-column justify-content-between m-0 px-5 w-100 ">

                 <h4 class="text-success"> {{data.userName}}</h4>
                 <p class="text-danger">{{data.email}}</p>
                 <p class="text-success">{{data.phoneNumber}}</p>
                 </div>

            </div>
          
      </div>
    </div>
 </section>