section{
    background-color: #0E382F;
    width: 200px;
        ul{
    
            padding: 10px;
            li{
                padding: 10px;
                list-style: none;
                font-family:'Times New Roman', Times, serif;
                font-size: 17px;
                a{
                    text-decoration: none;
                   span{
                    margin: 0 6px;
                   }
                }
            }
        }
    }
